@model WMTest.Models.User

@{
    ViewBag.Title = "Forgotten Password";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
        

    <fieldset>
        <legend>User</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
        <p>
            <input type="submit" value="Recover" />
        </p>
    </fieldset>
   
    
    if (Model != null && Model.Email!=null)
    {
        <p>
            @Html.Raw("Success an email was sent to: '" + Model.Email + "'")
        </p>
    }
}

<div>
    @Html.ActionLink("Back to Login", "Index")
</div>

@section featured {
    @Scripts.Render("~/bundles/jqueryval")
}
