@model WMTest.Models.Email

@{
    string result = ViewBag.Result ?? "";
    string error = ViewBag.Error ?? "";
}


@using (Ajax.BeginForm("Send", "Email", new AjaxOptions() { UpdateTargetId = "updtArea" }, new { enctype = "multipart/form-data" }))
{
     <div id="updtArea">
        
        @Html.ValidationSummary(false)

         <div><h3>@result</h3></div>
        <div style="color: red">@error</div>
    
        <fieldset>
        <legend>Email</legend>
        
        <div class="editor-label">
            @Html.Label("To:")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Recipient, new { @class = "wide" })
        </div>
        <div class="editor-label">
            @Html.Label("Subject:")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject, new { @class = "wide" })
        </div>
        <div class="k-upload-files">
            @(Html.Kendo().Upload().Name("attachments").Async(async => async.Save("UploadFiles", "Email").Remove("RemoveUploadedFiles", "Email")))
        </div>
        <div class="editor-field">
            @(Html.Kendo().Editor().Name("Body").Value(@<text>@Model.Body</text>).HtmlAttributes(new { style = "width: 500px;height:200px" }))
        </div>
        <p>
            <input type="submit" value="Send" />  
        </p>
    </fieldset>
    
    </div>     
    }
    

<script src="@Url.Content("~/Scripts/kendo/2013.2.716/jquery.unobtrusive-ajax.min.js")"></script> 
<script src="@Url.Content("~/Scripts/kendo/2013.2.716/jquery-migrate-1.2.1.js")"></script>


@if (!String.IsNullOrEmpty(result))
{
    <script>
        $("#window").data("kendoWindow").close();
    </script>
}


    


<style scoped>
   
   .wide
    {
         width: 500px;
    }
   
    .widefile
    {
         width: 500px;
    }
        
</style>



