@model WMTest.Models.Configuration

@{
    ViewBag.Title = "Email Configuration";
}


@using (Ajax.BeginForm("Index", "Config", new AjaxOptions(){UpdateTargetId = "updtArea"}))
{
    <div id="updtArea">
    
    @Html.ValidationSummary(true)
    
    <p>
       <h3>@ViewBag.Result</h3> 
    </p>

        <fieldset>
        <legend>Configuration</legend>
               
        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Server)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Server)
            @Html.ValidationMessageFor(model => model.Server)
        </div>
        
         <div class="editor-label">
            @Html.LabelFor(model => model.Port)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Port)
            @Html.ValidationMessageFor(model => model.Port)
        </div> 
        
         <div class="editor-label">
            @Html.LabelFor(model => model.SSL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SSL)
            @Html.ValidationMessageFor(model => model.SSL)
        </div> 
        
         <div class="editor-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>    
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>                 
       
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
    
    </div>
                         
}

<script src="@Url.Content("~/Scripts/kendo/2013.2.716/jquery.unobtrusive-ajax.min.js")"></script> 
<script src="@Url.Content("~/Scripts/kendo/2013.2.716/jquery-migrate-1.2.1.js")"></script>
	  